<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../home-component/home.component.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">
  </head>
  <body>
  <section class="s1">
   <div class = "main-container">
    <div class = "greeting-wrapper">
      <h1>
        Research
      </h1>
    </div>
    <div class = "intro-wrapper">
      <div class = "nav-wrapper">
        <div class= "dots-wrapper">
          <div id="dot-1" class= "browser-dot">
          </div>
          <div id="dot-2" class= "browser-dot">
          </div>
          <div id="dot-3" class= "browser-dot">
          </div>
        </div>
        <ul id= "navigation">
          <li>
            <a routerLink="/courses">
              Courses
            </a>
            <a routerLink="/">
              Home
            </a>
          </li>
        </ul>
      </div>
      <div class = "left-column">
        <img id= "pro_pic" src="../assets/Tele.png">
        <div id= "note" style="text-align: center; padding-top: 12px;">
          <p>On-going Research at Florida International University<br/>With
            Prof. Jerry Miller of the Knights Foundation of Computing<br/>and Information Sciences Since Fall 2021</p>
        </div>
      </div>
      <div class="right-column">
        <div id="preview-shadow">
          <div id="preview">
            <div id= "corner-t1" class="corner"></div>
            <div id= "corner-t2" class="corner"></div>
            <h3>Telecommunications Between Quadcopters</h3>
            <p id="research-p">Testing Speeds and Behaviors of Multiple Node Placements of Quadcopters trying to find ways to make the processes
              more effecient and reliable
            </p>
            <div id= "corner-t3" class="corner"></div>
            <div id= "corner-t4" class="corner"></div>
          </div>
        </div>
      </div>
    </div>
   </div>
   </section>
   <section class="s2">
    <div class="main-container">
      <div class="about-wrapper">
        <div class="about-me">
          <h4>More about the Assignment</h4>
          <p>Alongside Professor Jerry Miller, We tasked ourselves with creating extra parameters within the NS-3
            Simulator for Drones. We wanted to add on more real-world variables that changed not only the behavior of
            the drones but also effected the telecommunication between them alongside the data that was being passed.
            We made this possible through Mathematical Calculations, Real-world Simulations, as well as testing through
            programming in C++ and Python. We are currently working on adding parameters such as Turn-radius, Wind-speed,
            and Turn-angle as parameters to the NS-3 Drone Simulator.
          </p>
          <p>Working as a unit and a team has always been in my best
            interest as it allows for the development of better pieces for
            a greater whole</p>
          <hr>
          <h4>CURRENT NOTES</h4>
          <p>As of Fall 2021 These are the Notes that have been produced in the area of the specified research assignment: <a target="_blank" href="../assets/merged.pdf">Download Notes</a></p>
          <p>Skills Used</p>
          <div id="skills">
            <ul>
              <li>C Programming</li>
              <li>C++ Programming</li>
              <li>Google Research</li>
            </ul>

            <ul>
              <li>Python</li>
              <li>NS-3</li>
              <li>Linux Systems</li>
            </ul>

          </div>

        </div>


        <div class="social-links">
          <img id = "social_img" src = "../assets/connections.png">
          <div id="socials">
          <h3>Learn More about NS-3</h3>
          <h3>
          <a target="_blank" href="https://github.com/nsnam">
          GitHub Repository</a>
          </h3>
        </div>
        </div>
      </div>

    </div>
  </section>

    <script src="" async defer></script>
  </body>
</html>
