<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">
  </head>
  <body>
    <section class="s1">
      <div class="main-container">
        <div class = "greeting-wrapper">
          <h1>
            Related Coursework
          </h1>
        </div>
        <div class = "course-wrapper">
          <div class = "nav-wrapper">
            <div class= "dots-wrapper">
              <div id="dot-1" class= "browser-dot">
              </div>
              <div id="dot-2" class= "browser-dot">
              </div>
              <div id="dot-3" class= "browser-dot">
              </div>
            </div>
            <ul id= "navigation">
              <li>
                <a routerLink="/research">
                  Research
                </a>
                <a routerLink="/">
                  Home
                </a>
              </li>
            </ul>
          </div>
          <div class = '_column'>
            <img src="../assets/fiu.png">
            <p>Class of 2023<br><a target="_blank" href="https://upe.acm.org">Upsilon Pi Epsilon Honor Soceity</a>
            Inductee Fall 2021<br>Teaching Assistant Mathematics
            Fall 2019-Current</p>
          </div>
        </div>
      </div>
    </section>
    <section class="s2">
      <div class="main-container">
        <div class = "small-container">
          <table>
            <tr>
              <th>
                Course: Description
              </th>
              <th>
                Grade
              </th>
            </tr>
            <tr>
              <td>
                Programming I<br><p>Course on Basics of Object Oriented Programming within the Language of Java</p>
              </td>
              <td>
                B+
              </td>
            </tr>
            <tr>
              <td>
                  Discrete Structures<br><p>The purpose of this course is to understand and use (abstract) discrete
                  structures that are backbones of computer science. In particular, this class is meant to introduce
                  logic, proofs, sets, relations, functions, counting, and probability, with an emphasis on applications
                  in computer science.</p>
              </td>
              <td>
                A
              </td>
            </tr>
            <tr>
              <td>
                Linear Algebra<br><p>Introduces the fundamentals of linear algebra in the context of computer science applications.
                Includes vector spaces, matrices, linear systems, and eigenvalues. Includes the basics of floating point computation
                and numerical linear algebra.</p>
              </td>
              <td>
                A
              </td>
            </tr>
            <tr>
              <td>
                Programming II<br><p>An intermediate level course in Object Oriented programming. Topics include primitive types,
                control structures, strings arrays, objects and classes, data abstraction inheritance polymorphism and an introduction
                to data structures.</p>
              </td>
              <td>
                B+
              </td>
            </tr>
            <tr>
              <td>
                Logic for Computer Science<br>
                <p>An introduction to the logical concepts and computational aspects of propositional and predicate logic, as well as
                to concepts and techniques underlying logic programming, in particular, the computer language Prolog.</p>
              </td>
              <td>
                B
              </td>
            </tr>
            <tr>
              <td>
                Theory Algorithms<br>
                <p>Strings, formal languages, finite state machines, Turing machines, primitive recursive and recursive functions,
                recursive unsolvability.</p>
              </td>
              <td>
                B-
              </td>
            </tr>
            <tr>
              <td>
                Software Engineering I<br>
                <p>Software Process Model, Software Analysis and Specification, Software Design, Software Testing.
                  Creation of API's using frameworks such as Springboot. Use of HTTP Request Testers such as Postman.
                </p>
              </td>
              <td>
                A
              </td>
            </tr>
            <tr>
              <td>
                Database Management<br>
                <p>
                  Logical aspects of databases including Relational, Entity-Relationship,
                  and Object-Oriented data models, database design, SQL, relational algebra,
                  tuple calculus, domain calculus, and physical database organization.
                </p>
              </td>
              <td>
                A
              </td>
            </tr>
            <tr>
              <td>
                Systems Programming<br>
                <p>
                Programming in C and advanced programming in Unix environments, including multiprocessing and multithreading.
                </p>
              </td>
              <td>
                A
              </td>
            </tr>
            <tr>
              <td>
                Data Structures<br>
                <p>
                  Basic concepts of data organization, running time of a program, abstract types, data structures
                  including linked lists, nary trees, sets and graphs, internal sorting.
                </p>
              </td>
              <td>
                A
              </td>
            </tr>
          </table>
        </div>
      </div>
    </section>
    <section class="s2">
      <div class="main-container">

        <div class="about-wrapper">
          <div class="about-me">
            <h4>Why FIU</h4>
            <p>Florida International University has been my home since I was a fresh graduate coming out of Highschool</p>
            <p>The Opportunities that have been presented to me along the way, such as being able to teach Computer Science
              Foundational courses and also taking on head roles at the largest tech organization on campus, are only some of
              the reasons why I have loved my time here at F.I.U. Once I am within the field, I will often find myself coming back
              to share with the next class what I have learned to be important to succeed in this field.
            </p>
            <hr>
            <h4>Academic Acheivements</h4>
            <p>If you would like a full transcript of all coursework: <a target="_blank" href="../assets/transcripts.pdf">Download Transcript</a></p>
            <div id="skills">
              <ul>
                <li>5 Time Dean's List (>3.50 Term GPA)</li>
                <li>100% Bright Futures Recipient</li>
              </ul>

              <ul>
                <li>3.64 Cumulative GPA</li>
                <li>U.P.E Technology Committee Member</li>
              </ul>

            </div>

          </div>


          <div class="social-links">
            <img id="social_img" src="../assets/fiuc.jpg">
            <div id="socials">
            <h3>
            <a target="_blank" href="https://www.cis.fiu.edu">
            Learn More</a>
            </h3>
          </div>
          </div>
        </div>

      </div>
    </section>
    <script src="" async defer></script>
  </body>
</html>
